/* specification  */

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* --------------------------------------------------------------------------------------------------------- */

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #091925;
    padding: 0 92px;
}

.nav-container{
    display: flex;
    align-items: center;
}

.logo-container{
    margin-right: 101px;
}

.nav-list{
    display: flex;
    margin-right: 380px;
    padding: 0 0;
}

.nav-list__item{
    display: flex;
    color:#fff;
    background-color:#142E42;
    font-size: 16px;
    font-weight: 500;
    width: 125px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.nav-list__item_first{
    margin-right: 5px;
}

.socials-box{
    display: flex;
}

.socials{
    display: flex;
    margin-right: 49px;
    align-items: center;
}

.social-list{
    display: flex;
    width: 237px;
    height: 23px;
    padding: 0 0;
}

.social-list__item{
    margin-right: 16px;
}

.social-list__item_first{
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}

.social-list__item{
    margin-right: 16px;
}

.register-list{
    display: flex;
    margin-right: 92px;
    padding: 0 0;
}

.register-list__item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.register-list__item_help{
    width: 35px;
    height: 35px;
    background-color: #344F63;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0 0;
}

.register-list__item_register{
    width: 104px;
    height: 35px;
    background-color: #344F63;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0 0;
}

.register-list__item_log-in{
    width: 104px;
    height: 35px;
    background-color: #0080DF;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0 0;
}


